# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf
*.tlog
*.pdb
*.ilk
*.idb
*.ipch
VcTmpFile
*.opensdf
*.suo

# Compiled Dynamic libraries
*.so
*.dylib


# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
